<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATy-SKZIn_2y4DHLmJFFZzklJ0mXoJ8So</string>
	<key>GCM_SENDER_ID</key>
	<string>19864941021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pbl</string>
	<key>PROJECT_ID</key>
	<string>mobile-advertising-f28e7</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-advertising-f28e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19864941021:ios:c3f32d398c6ed3c7fe0634</string>
</dict>
</plist>